@import '../../variables.scss';
.navbar {
    width: 19vw;
    background-color: $primary-color;
}

span {
    padding-left: 5px;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 30px;
    font-weight: bold;
}