@import '../../variables.scss';
.navbar {
    width: 4em;
    background-color: $primary-color;
    height: 2600px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
}
.home {
    color:black;
    font-size: 30px;
    padding-left: 12px;
    &:hover {
        color: $tertiary-color;
    }
}

.signout{
    font-size: 20px;
    padding-top: 10px;
    padding-left: 15px;
    position: relative;
    display: inline-block;

}

.google {
    font-size: 20px;
    padding-left: 15px;
    position: relative;
    display: inline-block;
    &:hover {
        color:$tertiary-color;  
    }
}

.google:hover .googletip {
    visibility: visible;
  }

.search {
    font-size: 30px;
    padding-left: 15px;
    &:hover {
        color: $tertiary-color;
    }
}

.favs {
    font-size: 30px;
    padding-top: 15px;
    padding-left: 15px;
    color:black;
    &:hover {
        color: $tertiary-color;
    }
}