@import '../../variables.scss';
.navbar {
    width: 4em;
    background-color: $primary-color;
    height: 2600px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
}
.home {
    color:black;
    font-size: 30px;
    padding-left: 12px;
    padding-bottom: 10px;
    &:hover {
        color: $tertiary-color;
    }
}

.signout{
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    position: relative;
    display: inline-block;
    &:hover {
        color: $tertiary-color;
    }
}

.search {
    font-size: 30px;
    padding-top:10px;
    padding-left: 15px;
    padding-bottom: 20px;
    &:hover {
        color: $tertiary-color;
    }
}

.google {
    font-size: 20px;
    padding-left: 15px;
    position: relative;
    display: inline-block;
    &:hover {
        color:$tertiary-color;  
    }
}

.favs {
    font-size: 30px;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 20px;
    color:black;
    &:hover {
        color: $tertiary-color;
    }
}
@media screen and (max-width: 1319px){
    .navbar{
        min-height:3300px;
    }
}
@media screen and (max-width: 989px){
    .navbar{
        min-height:4800px;
    }
}
@media screen and (max-width: 659px){
    .navbar{
        min-height:9200px;
    }
}