@import '../../../variables.scss';
.cardList{
    height:100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    width: 80vw;
}
@media screen and (max-width: 1319px){
    .cardList{
        
    }
}

@media screen and (max-width: 989px){
    .cardList{
        
    }
}

@media screen and (max-width: 659px){
    .cardList{
        
    }
}