@import '../../variables.scss';

.favourites{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height:100%;
    .google{
        display: none;
    }
}

.message{
    padding-left: 50px;
    padding-top: 30px;
}

