$base-spacing: 5px;

$primary-color:#0fc0ff;
$secondary-color:#ed872d;

$card-shadowing: 0 4px 7px rgba(0, 0, 0, 0.2), 0 4px 7px rgba(0, 0, 0, 0.27);
$card-hover-shadowing: 0 14px 28px rgba(0, 0, 0, 0.27),0 10px 10px rgba(0, 0, 0, 0.3);