@import '../../../../variables.scss';

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid $secondary-color;
    width: 200px;
    height: 300px;
    margin:20px;
    padding:10px;
    color: $primary-color;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    text-align: center;
    border-radius: 10px;
    box-shadow: $card-shadowing;

    &:hover {
       box-shadow: $card-hover-shadowing;    }
}

img{
    margin-top: 10px;;
    height:120px;
    width:45px;
}

.heart {
    font-size: 2em;
    margin-left: 150px;
}